<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Cowchat</string>
	<key>CFBundleExecutable</key>
	<string>Cowchat</string>
	<key>CFBundleIconFile</key>
	<string>Cowchat.icns</string>
	<key>CFBundleIconName</key>
	<string>Cowchat</string>
	<key>CFBundleIdentifier</key>
	<string>inc.cowboy.cowchat</string>
	<key>CFBundleName</key>
	<string>Cowchat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
